h1{
    color: orange
}

li {
    font-style: italic;
}

/*want the element with the id-intro to be selected*/
#intro {
    background-color: aqua;
}

/*want the profilepic class to be selected*/
.profilepic {
    opacity: 0.6;
    border-radius: 10px;
}